<form id="saveContactForm" method="post">
<div class="container">
  <h2>Создать новую цитату</h2>
  <form>    
    <div class="form-group">
      <label for="quoteText">Текст цитаты:</label>
      <input type="text" class="form-control"  name="quoteText" id="quoteText" placeholder="Введите текст цитаты">
    </div>
    <div class="form-group">
      <label for="quotesauthor">Автор:</label>
      <input type="text" class="form-control" name="author" id="quotesauthor" placeholder="Введите автора цитаты">
    </div>
    
    <button type="submit" id="saveQuotes" class="btn btn-default">Submit</button>
  </form>
</div>
</form>

<div id="body">
    <ul id="quotes"></ul>
</div>

@section scripts{
<script type="text/javascript">
$(function()
{
        $.getJSON('/api/quotes', function(quotesJsonPayload)
        {
            $(quotesJsonPayload).each(function (i, item)
            {
                $('#quotes').append(
                    '<li>' +
                  "<i>" + item.quoteText + "</i>" +
                 "<p>" + item.author + "</p>" +
                  '</li>'
                  );
            });
        });
});

$('#saveQuotes').click(function () {
    $.post("api/quotes",
          $("#saveContactForm").serialize(),
          function (value) {
              $('#quotes').append('<li>' +
                  "<i>" + value.quoteText + "</i>" +
                 "<p>" + value.author + "</p>" +
                  '</li>');
          },
          "json"
    );
})
     
</script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
}